doctype html
head
	meta(charset="utf-8")
	link(rel="stylesheet", href="../../../css/master.css", media="screen", title="no title", charset="utf-8")
	
	title Adventure
body
	#bg1
	#bg2
	header
		h1 C&D
	#mBody
		#scene
			img(src="../../../img/riverbed.png", alt="The Current Scene Is Broken... Sorry")
		#choiceDescription
			#description
				h1 The Rock Seems to Have Settled..
				p The rock fits snugley into your pouch. You think to yourself: as if today hasn’t been strang enough... Now back to finding out how, in the old god’s names I came to be in this mess.
			#choices
				a(href="#")
					div.choice.MD#surroundings
						h1 Examine your surroundings
script(type="text/javascript", src="../../../js/script.js")
//Latest compiled and minified JavaScript for bootstrap
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
