doctype html
head
	meta(charset="utf-8")
	link(rel="stylesheet", href="../../../css/master.css", media="screen", title="no title", charset="utf-8")
	
	title Adventure
body
	#bg1
	#bg2
	header
		h1 C&D
	#mBody
		#scene
			img(src="../../../img/riverbed.png", alt="The Current Scene Is Broken... Sorry")
		#choiceDescription
			#description
				h1 The Rock Flies.. Yet Again..
				p You channel all of your strength into your arm and hurl the rock indescriminatley. The rock flies back at you.. It hits your head so hard that you black out…
			#choices
				a(href="../../index.html")
					div.choice.MD#startOver
						h1 Wake up
	
	script(type="text/javascript", src="../js/script.js")
		
// I want to add some cheesy css animations for the action here
