doctype html
head
	meta(charset="utf-8")
	link(rel="stylesheet", href="../css/master.css", media="screen", title="no title", charset="utf-8")
	
	title Adventure
body
	#bg1
	#bg2
	header
		h1 C&D
	#mBody
		#scene
			img(src="../img/Untitled.png", alt="The Current Scene Is Broken... Sorry")
		#choiceDescription
			#description
				h1 You Awaken in a Forest..
				p You are shaken.. not sure of the details of how you came to be here.. You find a stream and splash your face to try and jogg your memory.
			#choices
				a(href="firstChoice/human.html")
					div.choice.LT#human
						h1 Remember that your race is Human
				a(href="firstChoice/orc.html")
					div.choice.RT#orc
						h1 Remember that your race is Orcish
				a(href="firstChoice/elf.html")
					div.choice.LB#elf
						h1 Remember that your race is Elvish
				a(href="firstChoice/dwarf.html")
					div.choice.RB#dwarf
						h1 Remember that your race is Dwarvish

	
	script(type="text/javascript", src="../js/script.js")
		
