doctype html
head
	meta(charset="utf-8")
	link(rel="stylesheet", href="../../css/master.css", media="screen", title="no title", charset="utf-8")
	
	title Adventure
body
	#bg1
	#bg2
	header
		h1 C&D
	#mBody
		#scene
			img(src="../../img/riverbed.png", alt="The Current Scene Is Broken... Sorry")
		#choiceDescription
			#description
				h1 Of Course Your race is Elvish
				p On your way to the stream you pluck a large leaf from one of the trees. Even with the unexplained pain in your head you still have the sense and decency to drink from a leaf; afterall you are’nt some sort of animal. After siphoning a few drops from your leaf, you feel a sort of magical presence coming from the riverbed. Entreuged you locate the source of this energy, it seems to be a rock..
			#choices
				a(href="secondChoice/examine.html")
					div.choice.MD#examine
						h1 Examine the strange rock

	
	script(type="text/javascript", src="../js/script.js")
		
