doctype html
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="../../css/master.css", media="screen", title="no title", charset="utf-8")
	link(rel="stylesheet", href="../../../css/breakpoints.css", media="screen", title="no title", charset="utf-8")
	
	
	//bootstrap
	//Latest compiled and minified CSS//
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

	// optional theme
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
	
	title Adventure
body
	.row
		#bg1.col-xs-12
		#bg2.col-xs-12
	header
		h1 C&D
	.container
		#mBody
			.row
				#scene
					img.col-xs-12(src="../../img/riverbed.png", alt="The Current Scene Is Broken... Sorry")
			.row
				#choiceDescription.col-xs-12.col-sm-10.col-sm-offset-1
					.row
						#description.col-xs-12
							h1 Of Course You’re An Elf
							p On your way to the stream you pluck a large leaf from one of the trees. Even with the unexplained pain in your head you still have the sense and decency to drink from a leaf; afterall you are’nt some sort of animal. After siphoning a few drops from your leaf, you feel a sort of magical presence coming from the riverbed. Entreuged you locate the source of this energy, it seems to be a rock..
						#choices.col-xs-12
								.row
									a(href="secondChoice/examine.html")
											div.choice.col-xs-12.col-sm-6.col-sm-offset-3
												h1 Examine The Strange Rock
								

script(type="text/javascript", src="../../js/script.js")
//Latest compiled and minified JavaScript for bootstrap
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
		
