doctype html
head
	meta(charset="utf-8")
	link(rel="stylesheet", href="../../css/master.css", media="screen", title="no title", charset="utf-8")
	
	title Adventure
body
	#bg1
	#bg2
	header
		h1 C&D
	#mBody
		#scene
			img(src="../../img/riverbed.png", alt="The Current Scene Is Broken... Sorry")
		#choiceDescription
			#description
				h1 Of Course Your race is Human
				p Feeling slightly better about your Identitiy, and notably refreshed by the cold of the water. You try to think of how you got here.. still no answers come to mind. Then you notice a strangly colored rock in the riverbed.
			#choices
				a(href="secondChoice/examine.html")
					div.choice.MD#examine
						h1 Examine the strange rock

	
	script(type="text/javascript", src="../js/script.js")
		
