doctype html
head
	meta(charset="utf-8")
	link(rel="stylesheet", href="../../css/master.css", media="screen", title="no title", charset="utf-8")
	
	title Adventure
body
	#bg1
	#bg2
	header
		h1 C&D
	#mBody
		#scene
			img(src="../../img/riverbed.png", alt="The Current Scene Is Broken... Sorry")
		#choiceDescription
			#description
				h1 Of Course Your race is Orcish
				p Gulping down as much of the stream as you can, your head starts to feel slightly better. You dunk your head in for another gulp just for good measure. You accidentaly suck a rock into your gaping maw. 
			#choices
				a(href="secondChoice/examine.html")
					div.choice.MD#examine
						h1 Examine the strange rock

	
	script(type="text/javascript", src="../js/script.js")
		
